@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
 --orange:orange;
 --red:#e74c3c;
 --black:black;
 --white:white;
 --light-bg:#f6f6f6;
 --border:.2rem solid var(--black);
--box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
--border:.2rem solid rgba(0,0,0,.1);
--outline:.1rem solid rgba(0,0,0,.1);
--outline-hover:.2rem solid black;

}

*{
    
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    color:var(--black);
    transition: all .2s linear;

}

/*-------------------------------------------------------------time--------------------------------------------------------------------*/

section.big-deal {
   background: linear-gradient(
       rgba(35,43,56,0.9),
       rgba(35,43,56,0.9)
   ), url(../image/food-table.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
}
section.big-deal .timer{
   display:flex;
   align-items: center;
   justify-content: center;
   margin-right:-2rem;
   margin-bottom:2rem;
}
section.big-deal .timer div{
   margin-right:2rem;
   background: var(--primary);
   width:200px;
   height:150px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
section.big-deal .timer div span:first-child{
   font-family: "Raleway-semibold";
   font-size:2.5rem;
   color:white;
   margin-bottom:0.05rem;
}
section.big-deal .timer div span:last-child{
   font-family: "Raleway-medium";
   color:whitesmoke;
}

/*-------------------------------------------------------------------------end---------------------------------------------------------*/
*::selection{
    background-color: orange;
    color:var(--white);
 }
 
 *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: orange;
 }
 /*edit background*/
 body{
   color: darkkhaki;
 
  /*background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,1.0)),url(../image/blog-2.jpg);*/
    
 }
 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
 }

 section{
    padding:3rem 2rem;
    max-width: 1200px;
    margin:0 auto;
 }
 
 .disabled{
    user-select: none;
    pointer-events: none;
    opacity: .5;
 }
 
 .btn,
 .delete-btn,
 .update-btn,
 .about-btn,
 .option-btn{
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    color:var(--white);
    font-size: 2rem;
    padding:1.3rem 3rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
 }
 
 .btn{
    background-color: Orange;
 }

 .about-btn{ 
    background-color:orange; 
 }

 .about-btn:hover{

    background-color:whitesmoke;
    color: black; 
 }

 .update-btn
{

    background-color:lightslategray; 
 }
 
 .update-btn:hover{

    background-color:gray;
    color: black; 
 }

 .delete-btn{
    background-color: darkred;
 }
 
 .option-btn{
    background-color:darkred;
 }
 
 .btn:hover,
 .delete-btn:hover,
 .option-btn:hover{
    background-color: gray;
 }
 
 .flex-btn{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
 }
 
 .flex-btn > *{
    flex:1;
 }

 /* edit title*/
.title{

    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color:lightslategray;
    font-size: 3.5rem;

}

.title span{

    
    
    
    color:orange;
    font-size: 3.5rem;

}



.heading{
   text-align: center;
   padding:.2rem 0;
   padding-bottom: 3rem;
   font-size: 3.5rem;
   color:black;
}

.heading span{
   background:orangered;
   color:whitesmoke;
   display: inline-block;
   padding:.5rem 3rem;
   clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}



.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color:orangered;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 10000;
 }
 
 .message span{
    font-size: 2rem;
    color:black;
    text-align: right;
 }
 
 .message i{
    font-size: 2.5rem;
    cursor: pointer;
    color:whitesmoke;
 }
 
 .message i:hover{
    color:white;
 }

 .empty{
    padding:1.5rem;
    background: var(--white);
    color:var(--red);
    border-radius: .5rem;
    border:var(--border);
    font-size: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
 }
 
 @keyframes fadeIn {
    0%{
       transform: translateY(1rem);
    }
 }
 
 .form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .form-container form{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    padding:2rem;
 }
 
 .form-container form h3{
    font-size: 3rem;
    color:var(--black);
    margin-bottom: 1rem;
    text-transform: uppercase;
 }
 
 .form-container form .box{
    width: 100%;
    margin:1rem 0;
    border-radius: .5rem;
    border:var(--border);
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    background-color: var(--light-bg);
 }
 
 .form-container form p{
    margin-top: 2rem;
    font-size: 2.2rem;
    color:var(--light-color);
 }
 
 .form-container form p a{
    color:orange;
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }
 .header{
   
   position: sticky;
   top:3; left:50; right:0;
   box-shadow: var(--box-shadow);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
   position: relative;
   top:10px;
   bottom: 40px;
   right: 10px;
}




.header .flex .logo{ 
   font-size: 50px;
   color:orangered;
   font-weight: bolder;
}

/*--------------------------------------------------------------------logo design-------------------------------------------------------*/

.header .flex .logo{ 
   font-size:5rem;
   color:rgb(238, 25, 25);
   
}
.header .flex .logo.i{ 
   font-size: 60px;
   color:rgb(247, 125, 4);
}

.header .flex .logo span{
   color:lightslategray;
    font-size:6.5rem;
}

.header .flex .logo span1{
   color:whitesmoke;
    font-size:8.5rem;
    font-family: 'Kaushan Script', cursive;
}


.header.flex .navbar {
   margin:0 1rem;
   font-size: 2rem;
   color:rgb(244, 10, 10); 
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2.3rem;
   color:dimgray;
   
}
.header .flex .navbar a:hover{
   margin:0 2rem;
   font-size: 2rem;
   color:orange;
   text-decoration: underline;
}



.header .flex .icons > *{
    font-size: 2rem;
    color:black;
    cursor: pointer;
    align-items: left;
    margin-left: 2rem;
    position: relative;
   
 }
/*-----------------------------------------------------------------notification------------------------------------------------*/
 .header .flex .icons > *:hover{
    color:orangered;
 }
 .header .flex .icons a span{

   position: absolute;
   display:flex;
   bottom: 23px;
   left: 10px;
   padding: 1px 7px;
   border-radius: 20%;
   background:gray;
   color: black;
   align-items:center;
   border-radius:5px;
 }
 

 .header .flex .icons a span1{

   position: absolute;
   display:flex;
   bottom: 55px;
   width:600px;
   height: 40px;
   left:-510px;
   padding: 2px 5px;
   background:darkslategrey;
   color: yellowgreen;
   align-items:right;
   border-radius:5px;
 }
 .header .flex .icons a span1 h5{
   color:wheat;
   font-size: 20px;


 }




.header .flex .icons a i{
   color:var(--light-color);
   
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i{
   color:orange;
}


.header .flex .profile{
    position: absolute;
    top:120%; right:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    background: linear-gradient(rgba(37, 37, 1, 0.6),rgba(0,0,0,1.0)),url(../images/pic-6.jpg) ;
    width: 48rem;
    display: none;
    animation: fadeIn .2s linear;
 }

 .header .flex .profile.active{
    display: inline-block;
 }
 
 .header .flex .profile img{
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .header .flex .profile p{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:whitesmoke;
 }
 
 .update-profile form{
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
 }
 
 .update-profile form .flex{
    display: flex;
    gap:1.5rem;
    justify-content: space-between;
 }
 
 .update-profile form img{
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .update-profile form .inputBox{
    text-align: left;
    width: 49%;
 }
 
 .update-profile form .inputBox span{
    display: block;
    padding-top: 1rem;
    font-size: 1.8rem;
    color:var(--light-color);
 }
 
 .update-profile form .inputBox .box{
    width: 100%;
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    border-radius: .5rem;
    margin:1rem 0;
    background-color: var(--light-bg);
 }


  /*-------------------------------------Footer edit--------------------------------------*/
  .footer{
   background:var(--footer);
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:1.5rem;
}

.footer .box-container .box h3{
   font-size: 2.5rem;
   color:var(--black);
   padding:1rem 0;
}

.footer .box-container .box h3 i{
   color:orange;
}

.footer .box-container .box .links{
   display: block;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:1rem 0;
}

.footer .box-container .box .links i{
   color:var(--orange);
   padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
   padding-right: 2rem;
}


.footer .box-container .box p{
   line-height: 1.8;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:1rem 0;
}

.footer .box-container .box .share a{
   height:4rem;
   width:4rem;
   line-height:4rem;
   border-radius: .5rem;
   font-size: 2rem;
   color:var(--black);
   margin-right: .2rem;
   background: #eee;
   text-align: center;
}

.footer .box-container .box .share a:hover{
   background: var(--orange);
   color: #fff;
}

.footer .box-container .box .email{
   width: 100%;
   margin:.7rem 0;
   padding:1rem;
   border-radius: .5rem;
   background: #eee;
   font-size: 1.6rem;
   color:var(--black);
   text-transform: none;
}

.footer .box-container .box .payment-img{
   margin-top: 2rem;
   height: 3rem;
   display: block;
}

.footer .credit{
   text-align: center;
   margin-top: 2rem;
   padding:1rem;
   padding-top: 2.5rem;
   font-size: 2rem;
   color:var(--black);
   border-top: var(--border);
}

.footer .credit span{
   color:var(--orange);
}
 
 /* media queries  */

@media (max-width:991px){

    html{
       font-size: 55%;
    }
    
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
 
 
    .update-profile form .flex{
       flex-wrap: wrap;
       gap:0;
    }
 
    .update-profile form .flex .inputBox{
       width: 100%;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .flex-btn{
       flex-flow: column;
       gap:0;
    }
 
    .title{
       font-size: 3rem;
    }
    
 }
