@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');


 


*::selection{
   background-color: var(--green);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--green);
}

body{
   background:linear-gradient(rgba(5, 0, 0, 0.6),rgb(6, 6, 6)), url(image/c.jpg);
   /* padding-bottom: 6.5rem; */
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 1200px;
   margin:0 auto;
}

.disabled{
   user-select: none;
   pointer-events: none;
   opacity: .5;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   color:var(--white);
   font-size: 2rem;
   padding:1rem 1rem;
   text-transform: capitalize;
   cursor: pointer;
   text-align: center;
}

.btn{
   background-color: orange;
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
    color: black;
    background-color:gray;
}

.flex-btn{
   display: flex;
   flex-wrap: wrap;
   gap:1rem;
}

.flex-btn > *{
   flex:1;
}

.title{
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color:var(--black);
   font-size: 3.5rem;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
   display: flex;
   text-align: left;
 
   justify-content: center;
   gap:1.5rem;
   z-index: 10000;
}

.message span{
   font-size: 3rem;
   color:rgb(208, 189, 142);
}

.message i{
   font-size: 2.5rem;
   cursor: pointer;
   color:orange;
}

.message i:hover{
   color:orange;
}

.empty{
   padding:1.5rem;
   background: var(--white);
   color:var(--red);
   border-radius: .5rem;
  
   font-size: 2rem;
   text-align: left;
   box-shadow: red;
   text-transform: capitalize;
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   

}

.form-container form{
   width: 50rem;
   border-radius: .5rem;
   text-align: center;
   padding-top: 200px;
}

.form-container form h3{
   font-size: 3rem;
   color:rgb(250, 244, 244);
   margin-bottom: 0.5rem;
   text-transform: uppercase;
}

.form-container form .box{
   width: 100%;
   margin:0.8rem 0;
   border-radius: .5rem;
   background-color:whitesmoke;
   padding:1rem;
   font-size: 1.5rem;
   color:black;
   
   
}

.form-container .inputBox{
    width: 50rem;
    border-radius: .5rem;
    text-align: center;
    padding:1rem;
    color:rgb(241, 4, 4)
    
   
 }


.form-container form p{
   margin-top: 1.5rem;
   font-size: 2.2rem;
   color:rgb(245, 245, 245);
   
}

.form-container form p a{
   color:red;
}

.form-container form p a:hover{
   text-decoration: underline;
}




.header .flex .logo{
   font-size: 2.5rem;
   color:rgb(232, 11, 11);
}

.header .flex .logo span{
   color:orangered;
   font-family: 'Kaushan Script', cursive;
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--light-color);
}

.header .flex .navbar a:hover{
   text-decoration: underline;
   color:var(--green);
}

.header .flex .icons > *{
   font-size: 2.5rem;
   color:whitesmoke;
   cursor: pointer;
   margin-left: 1.5rem;
}

.header .flex .icons > *:hover{
   color:var(--green);
}

.header .flex .icons a span,
.header .flex .icons a i{
   color:var(--light-color);
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i{
   color:var(--green);
}

.header .flex .icons a span{
   font-size: 2rem;
}

#menu-btn{
   display: none;
}

















/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }
   
}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      position: absolute;
      top:99%; left:0; right:0;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;   
   }

   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }

   .update-profile form .flex .inputBox{
      width: 100%;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }

   .title{
      font-size: 3rem;
   }
   
}